<!-- ansade_app/templates/ansade_app/familleproduit_list.html -->

{% extends 'ansade_app/base.html' %}

{% block content %}
 <!-- Formulaire d'import Produit -->
 <form method="post" enctype="multipart/form-data" action="{% url 'famille_produit_import' %}">
  {% csrf_token %}
  <label for="id_myfile">Sélectionnez un fichier CSV pour l'import famille de produit :</label>
  <input type="file" name="myfile" required>
  <button type="submit">Importer famille de produit</button>
</form>

<!-- Lien d'export Produit -->
<a href="{% url 'famille_produit_export' %}" class="btn btn-info btn-sm">Exporter famille de produit</a>


  <h2>Liste des Familles de Produit </h2>

  <!-- Add button to create a new FamilleProduit -->
  <a class="btn btn-primary mb-2" href="{% url 'famille_produit_create' %}">Ajouter une Famille</a>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Label</th>
        <!-- Add other fields as needed -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for famille in object_list %}
        <tr>
          <td>{{ famille.id }}</td>
          <td>{{ famille.label }}</td>
          <td>
            <a class="btn btn-info btn-sm" href="{% url 'famille_produit_detail' famille.id %}">Detail</a>
            <a class="btn btn-warning btn-sm" href="{% url 'famille_produit_update' famille.id %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'famille_produit_delete' famille.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
