<!-- ansade_app/templates/ansade_app/home.html -->

{% extends 'ansade_app/base.html' %}
{%load static%}
{% block content %}
    <div style="background-color: #2ecc71; color: #ffffff; padding: 50px; text-align: center;">
    <img src="{% static '1.png' %}" alt="Logo ANSADE" style="width: 150px; height: auto; margin-bottom: 20px;">

        <h1>Bienvenue sur Ansade app </h1>
        <p>
            ANSADE app est une plateforme  pour la gestion efficace et le calcul de l'INPC (Indice National des Prix à la Consommation).
            Notre mission est de simplifier l'analyse des données et les processus de prise de décision pour les entreprises et les particuliers.
        </p>

            Fonctionnalités clés :
        </p>
        <ul style="list-style-type: none; padding: 0;">
            <li>Calculs avancés de l'INPC</li>
            <li>Gestion intuitive des données</li>
            <li>Outils puissants de prise de décision</li>
        </ul>

        <p>
            Visitez le site Web : <a href="https://ansade.mr" style="color: #ffffff; text-decoration: underline;">ansade.mr</a>
        </p>
    </div>
{% endblock %}
