<!-- ansade_app/templates/ansade_app/home.html -->

{% extends 'ansade_app/base.html' %} {% load static %} {% block content %}
<div style="background-color: #2ecc71; padding: 50px; text-align: center">

  <a href="https://ansade.mr/fr/" target="_blank"> <!-- Replace the href with your desired link -->
    <img
      src="{% static 'ansadee.png' %}"
      alt="Logo ANSADE"
      style="width: 200px; height: auto; margin-bottom: 20px"
    />
  </a>

  <h1>Bienvenue sur Ansade app</h1>
  <p class="h6">
    ANSADE app est une plateforme pour la gestion efficace des donnees et le calcul de
    l'INPC (Indice National des Prix à la Consommation) . Notre mission est de
    simplifier l'analyse des données et les processus de prise de décision pour
    l' Ansade.
  </p>
  <h2 class="pb-3">Nos Fonctionnalités</h2>
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem">
      <div class="card-body">
        <img
          src="{% static 'fonct1.png' %}"
          alt="Your Logo"
          class="pb-3"
          width="100px"
        />
        <h5 class="card-title pb-3">Calculs avancés de l'INPC</h5>
        <a href="{% url 'calculate_inpc'%}" class="btn btn-success"
          >Calculer INPC</a
        >
      </div>
    </div>
    <div class="card text-center ms-3" style="width: 18rem">
      <div class="card-body">
        <img
          src="{% static 'fonct2.png' %}"
          alt="Your Logo"
          class="pb-3"
          width="100px"
        />

        <h5 class="card-title pb-3">Gestion  des données</h5>
        <a href="{% url 'produit_list' %}" class="btn btn-success"
          >liste des produits</a
        >
      </div>
    </div>
    <div class="card text-center ms-3" style="width: 18rem">
      <div class="card-body">
        <img
          src="{% static 'fonct3.png' %}"
          alt="Your Logo"
          class="pb-3"
          width="100px"
        />

        <h5 class="card-title pb-3">visualisation de l'evolution  des prix</h5>
        <a href="{%url 'select_product'%}" class="btn btn-success"
          >Visualiser</a
        >
      </div>
    </div>
    <div class="card text-center ms-3" style="width: 18rem">
      <div class="card-body">
        <img
          src="{% static 'logo5.png' %}"
          alt="Your Logo"
          class="pb-3"
          width="100px"
        />

        <h5 class="card-title pb-3">prediction du prix </h5>
        <a href="{%url 'select_product1'%}" class="btn btn-success"
          >Prediction</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
