<!-- ansade_app/templates/ansade_app/panierproduit_list.html -->
{% extends 'ansade_app/base.html' %} {% block content %}
<div class="container mt-2">
  <!-- Cart Formulaire d'import Produit -->
  <div class="card">
    <div class="card-header">
      Formulaire d'importation et d'exportation panier produit
    </div>
    <div class="card-body">
      <div class="border p-2 mb-2">
        <div class="nav">
          <a
            href="{% url 'panier_produit_export' %}"
            class="btn btn-info btn-sm"
            >Exporter panier produit</a
          >
        </div>
      </div>
      <div class="border p-2 mb-2">
        <div class="nav">
          <form
            method="post"
            enctype="multipart/form-data"
            action="{% url 'panier_produit_import' %}"
          >
            {% csrf_token %}

            <input type="file" name="myfile" required class="btn btn-secondary" />
            <button type="submit" class="btn btn-info btn-sm">Importer panier produit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Liste des Familles de Produit -->
  <div class="card mt-3">
    <div class="card-header">Liste des Paniers des Produits</div>
    <div class="card-body">
      <div class="border p-2 mb-2">
        <div class="nav">
          <!-- Add button to create a new FamilleProduit -->
          <a
            class="btn btn-outline-secondary"
            href="{% url 'panier_produit_create' %}"
            ><i class="bi bi-arrow-up-square"></i>
            <span class="ms-2">Ajouter Panier de Produit</span></a
          >
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Panier</th>
            <th>Ponderation</th>
            <th>Detail</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for panierproduit in object_list %}
          <tr>
            <td>{{ panierproduit.id }}</td>
            <td>{{ panierproduit.price }}</td>
            <td>{{ panierproduit.panier }}</td>
            <td>{{ panierproduit.ponderation }}</td>
            <td>
              <a
                class="btn btn-info btn-sm"
                href="{% url 'panier_produit_detail' pk=panierproduit.id %}"
                >Detail</a
              >
            </td>
            <td>
              <a
                class="btn btn-warning btn-sm"
                href="{% url 'panier_produit_update' pk=panierproduit.id %}"
              >
                Update</a
              >
            </td>
            <td>
              <a
                class="btn btn-danger btn-sm"
                href="{% url 'panier_produit_delete' pk=panierproduit.id %}"
              >
                Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
