<!-- ansade_app/templates/ansade_app/price_list.html -->
{% extends 'ansade_app/base.html' %}

{% block content %}


  <!-- Formulaire d'import Produit -->
  <form method="post" enctype="multipart/form-data" action="{% url 'price_import' %}">
    {% csrf_token %}
    <label for="id_myfile">Sélectionnez un fichier CSV pour l'import Prices :</label>
    <input type="file" name="myfile" accept=".csv" required>
    <button type="submit">Importer Prices</button>
  </form>

  <!-- Lien d'export Produit -->
  <a href="{% url 'price_export' %}" class="btn btn-info btn-sm">Exporter Prices</a>

  <a href="{% url 'product_price_chart' product_id=1 %}" class="btn btn-primary">Visualiser l'évolution des prix</a>

  <h2>Prix List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Value</th>
        <th>Date</th>
        <th>Point de Vente</th>
        <th>Produit</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for price in object_list %}
        <tr>
          <td>{{ price.value }}</td>
          <td>{{ price.date }}</td>
          <td>{{ price.point_de_vente }}</td>
          <td>{{ price.produit }}</td>
          <td>
            <a href="{% url 'price_detail' pk=price.pk %}" class="btn btn-info btn-sm">Detail</a>
            <a href="{% url 'price_update' pk=price.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'price_delete' pk=price.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'price_create' %}" class="btn btn-success btn-sm">Add Price</a>
{% endblock %}
