<!-- ansade_app/templates/ansade_app/produit_list.html -->

{% extends 'ansade_app/base.html' %}

{% block content %}


  <!-- Formulaire d'import Produit -->
  <form method="post" enctype="multipart/form-data" action="{% url 'produit_import' %}">
    {% csrf_token %}
    <label for="id_myfile">Sélectionnez un fichier CSV pour l'import Produit :</label>
    <input type="file" name="myfile" required>
    <button type="submit">Importer Produits</button>
  </form>

  <!-- Lien d'export Produit -->
  <a href="{% url 'produit_export' %}">Exporter Produits</a>
  
  
  <h2>liste des produits</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Price Unit</th>
        <th>Code</th>
        <th>Family</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for produit in object_list %}
        <tr>
          <td>{{ produit.id }}</td>
          <td>{{ produit.label }}</td>
          <td>{{ produit.price_unit }}</td>
          <td>{{ produit.code }}</td>
          <td>{{ produit.famille_produit.label }}</td>
          <td>
            <a href="{% url 'produit_detail' produit.id %}" class="btn btn-info btn-sm">Detail</a>
            <a href="{% url 'produit_update' produit.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'produit_delete' produit.id %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'produit_create' %}" class="btn btn-success">Ajouter un produit</a>
{% endblock %}
