<!-- ansade_app/templates/ansade_app/produit_list.html -->

{% extends 'ansade_app/base.html' %} {% block content %}
<div class="container mt-2">
  <!-- Cart Formulaire d'import Produit -->
  <div class="card">
    <div class="card-header">
      Formulaire d'importation et d'exportation des produits
    </div>
    <div class="card-body">
      <div class="border p-2 mb-2">
        <div class="nav">
          <a href="{% url 'produit_export' %}" class="btn btn-info btn-sm"
            >Exporter produit</a
          >
        </div>
      </div>
      <div class="border p-2 mb-2">
        <div class="nav">
          <form
            method="post"
            enctype="multipart/form-data"
            action="{% url 'produit_import' %}"
          >
            {% csrf_token %}

            <input type="file" name="myfile" required class="btn btn-secondary"/>
            <button type="submit" class="btn btn-info btn-sm" >Importer produit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Liste des Familles de Produit -->
  <div class="card mt-3">
    <div class="card-header">liste des produits</div>
    <div class="card-body">
      <div class="border p-2 mb-2">
        <div class="nav">
          <!-- Add button to create a new FamilleProduit -->
          <a class="btn btn-outline-secondary" href="{% url 'produit_create' %}"
            ><i class="bi bi-arrow-up-square"></i>
            <span class="ms-2">Ajouter un produit</span></a
          >
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Price Unit</th>
            <th>Code</th>
            <th>Family</th>
            <th>Detail</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for produit in object_list %}

          <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.label }}</td>
            <td>{{ produit.price_unit }}</td>
            <td>{{ produit.code }}</td>
            <td>{{ produit.famille_produit.label }}</td>
            <td>
              <a
                class="btn btn-info btn-sm"
                href="{% url 'produit_detail' produit.id %}"
                >Detail</a
              >
            </td>
            <td>
              <a
                class="btn btn-warning btn-sm"
                href="{% url 'produit_update' produit.id %}"
              >
                Update</a
              >
            </td>
            <td>
              <a
                class="btn btn-danger btn-sm"
                href="{% url 'produit_delete' produit.id %}"
              >
                Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
