<!-- Dans le fichier calculate_inpc.html -->
{% extends 'ansade_app/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Calculate INPC</h1>

        <form method="post" action="{% url 'calculate_inpc' %}" class="mb-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Somme de tous les IPC</h5>
                <p class="card-text">INPC: {{ ipc_agrege_sum }}</p>
            </div>
        </div>
    </div>
{% endblock %}
